html {
    font-size: 100%;
    box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background: #dbfef5;
  color: #000;
  margin: 0;
}

#headcon{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2{
  font-family: 'Raleway', helvetica, sans-serif;
  }

p{
  font-family: 'Raleway', helvetica, sans-serif;
  max-width: 700px;
}

.buttons{
  display: flex;
  justify-content: center;
  grid-area: buttons;
}

.buttOrange, .buttCart, .buttBlue, .buttAll{
  background: #14435f;
  color: #f8f5d1;
  font-family: helvetica, sans-serif;
  text-align: center;
  text-shadow: .07rem .07rem .07rem #1d6189;
  padding: 1rem;
  cursor: pointer;
  margin: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
}

img{
  display: block;
  width: 100%;
  margin: 0;
}

a{
  margin: 1rem 1rem 1rem 0;
}

a.git{
  align-items: center;
}

#container{
  max-width: 100%;
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-rows: (2, 1fr);
  grid-template-columns: (2, 1fr);
  grid-template-areas:
    "bluefish clownfish"
    "fishbowl stingray"
}

header{
  grid-area: header;
}

.bluefish{
  grid-area: bluefish;
  margin: 2rem;
}

.clownfish{
  grid-area: clownfish;
  margin: 2rem;
}

.fishbowl{
  grid-area: fishbowl;
  margin: 2rem;
}

.stingray{
  grid-area: stingray;
  margin: 2rem;
}

/* media query goes aqui!! */
@media screen and (max-width: 700px) {
  #headcon {
    text-align: center;
  }

  p{
    margin: 2rem;
  }
  .buttons{
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  #container {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "bluefish"
      "clownfish"
      "fishbowl"
      "stingray"}}
